<div class="main">
  <form autocomplete="off">
    <h2>Cadastrar Produto</h2>
    <div class="inputBox">
      <input
        type="text"
        name="nomeProduto"
        [(ngModel)]="produto.nomeProduto"
        required="required">
        <label for="">Nome do Produto</label>
    </div>

    <div class="inputBox">
        <input
        type="number"
        name="quantidadeEstoque"
        [(ngModel)]="produto.quantidadeProduto"
        min="1"
        required="required">
        <label for="">Quantidade em Estoque</label>
    </div>

    <div class="inputBox">
      <input
      type="number"
      name="quantidadeEstoque"
      [(ngModel)]="produto.precoProduto"
      min="1"
      required="required">
      <label for="">Valor</label>
    </div>

    <div class="buttons">
      <button (click)="submit()" type="submit">Salvar</button>
      <button routerLink="../listar-produtos">Cancelar</button>
    </div>
  </form>
</div>
