<div class="main">
  <form autocomplete="off">
    <h2>Cadastrar Produto</h2>
    <div class="inputBox">
      <input
        type="text"
        name="nomeProduto"
        required="required"
        #name
        >
        <label for="">Nome do Produto</label>
    </div>

    <div class="inputBox">
        <input
        type="number"
        name="quantidadeEstoque"
        min="1"
        required="required"
        #amount
        >
        <label for="">Quantidade em Estoque</label>
    </div>

    <div class="inputBox">
      <input
      type="number"
      name="quantidadeEstoque"
      min="1"
      required="required"
      #price
      >
      <label for="">Valor</label>
    </div>

    <div class="buttons">
      <button type="submit" (click)="cadastrarProduto(name.value, amount.value, price.value)" routerLink="../listar-produtos"> Salvar </button>
      <button routerLink="../listar-produtos">Cancelar</button>
    </div>
  </form>
</div>
