<div class="main">
    <h1>Relatório de Pedidos</h1>
    <hr>
    <div class="searchContent">
      <input type="text" placeholder="Filtrar por Vendedor.."
       class="searchProduct"
      (input)="search($event)">
    </div>
    <div class="contentTable">
        <table>
          <thead>
            <th>ID</th>
            <th>Cliente</th>
            <th>Vendedor</th>
            <th>Valor do Pedido</th>
          </thead>
          <tbody>
            <tr *ngFor="let pedido of pedidos"  routerLink="/pages/ver-pedido/{{pedido.id}}">
              <td>{{pedido.id}}</td>
              <td>{{pedido.cliente_name}}</td>
              <td>{{pedido.reponsavel_name}}</td>
              <td>{{pedido.price}}$</td>
            </tr>
          </tbody>
                <tfoot>
                    <td colspan="3"><b>total:</b></td>
                    <td><b>{{totalFaturadoFormatado}} $</b></td>
            </tfoot>
        </table>
      </div>
</div>