<div class="main">
  <h2>Cliente Cadastrado</h2>
  <div class="inputBox">
    <input type="text"
    value="{{cliente.nomeCliente}}"
    name="nomeCliente"
    [(ngModel)]="cliente.nomeCliente"
    required="required">
    <label for="">Nome do Cliente:</label>
  </div>
  <div class="buttons">
    <button (click)="salvarEdit()" routerLink="/listar-clientes">Salvar</button>
    <button routerLink="/listar-clientes">Cancelar</button>
    <button (click)="apagarClient()" routerLink="listar-clientes" routerLink="/listar-clientes">Apagar</button>
  </div>
</div>

