.content
{
  background-color:  #FFFFFF;
  border-radius: 20px;
  border: 1px solid #002333;
  position: relative;
  padding: 2rem;
  margin: auto;
}

h2
{
  color: #002333;
  margin-bottom: 2rem;
}

input
{
  display: block;
  width: 40%;
  margin-bottom: 1rem;
  border:none;
  border-bottom:  #002333 1px solid;
  font-size: 1.1rem;
  padding: 0.2rem 0.5rem;
  outline: none;
  transition: 0.5s;
}

.buttons
{
  position: absolute;
  bottom: -1rem;
}

button
{
  margin-left:1rem;
  border: 1px solid #002333;
  font-size: 1.1rem;
  padding: 0.3rem 1rem;
  background-color:  #FFFFFF;
  cursor: pointer;
  color: #002333;
  border-radius: 0.3rem;
}
