.main
{
    min-height: 90vh;
}

.cardBox
{
    display: inline-block;
    padding: 1rem 2rem;
    width: 15rem;
    height: 6.5rem;
    position: relative;
    background-color: #4DDDC0;
    border-radius: 0.5rem;
    color: white;
    cursor: default;
    margin-left: 2rem;
}

.cardBlue
{
    background-color: #6CB0FF;
}

.cardYellow
{
    background-color: #FFC46F;
}

.cardRed
{
    background-color: #FF7189;
}

.cardTitle
{
    font-size: 1rem;
    position: absolute;
    left: 1rem;
}

.cardBody
{
    font-size: 2rem;
}

.cardIcon
{
    display: inline-block;
    position: absolute;
    left: 1rem;
    top: 3rem;
}

.cardValue
{
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 3rem;
    max-width: 70%;
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.toolCardValue
{
    position: absolute;
    bottom: 0;
    font-size: 1.2rem;
    padding: 0.2rem 1rem;
    border-radius: 0.3rem;
    transition: 0.3s;
    height: 0;
    opacity: 0;
    z-index: 1;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    color: #159A9C;
}

.cardValue:hover ~ .toolCardValue
{
    bottom: -2.5rem;
    height: auto;
    opacity: 1;
}
