<div class="main">
    <div class="cardBox cardGreen">
        <div class="cardTitle">
            Valor faturado
        </div>
        <div class="cardBody">
            <div class="cardIcon">
                <i class='bx bx-wallet'></i>
            </div>
            <div class="cardValue">
                R$ {{faturamento}}
            </div>
            <span class="toolCardValue">
              {{faturamento}}
            </span>
        </div>
    </div>

    <div class="cardBox cardBlue">
        <div class="cardTitle">
            Produtos cadastrados
        </div>
        <div class="cardBody">
            <div class="cardIcon">
                <i class='bx bxs-cart-alt' ></i>
            </div>
            <div class="cardValue">
                12
            </div>
            <span class="toolCardValue">
              Total: 12
            </span>
        </div>
    </div>

    <div class="cardBox cardYellow">
        <div class="cardTitle">
            Total de vendas
        </div>
        <div class="cardBody">
            <div class="cardIcon">
                <i class='bx bx-dollar-circle' ></i>
            </div>
            <div class="cardValue">
                {{totalVendas}}
            </div>
            <span class="toolCardValue">
              {{totalVendas}}
            </span>
        </div>
    </div>

    <div class="cardBox cardRed">
        <div class="cardTitle">
            Breve
        </div>
        <div class="cardBody">
            <div class="cardIcon">
                <i class='bx bx-dollar-circle' ></i>
            </div>
            <div class="cardValue">
                Breve
            </div>
            <span class="toolCardValue">Breve</span>
        </div>
    </div>



</div>
