<div class="main">
    <div class="novoPedido" routerLink="../pedido">
        <i class='bx bx-plus' ></i>
        Novo pedido
    </div>
    
    <div class="search">
        <h1>Pedidos</h1>
        <i class='bx bx-search-alt-2' ></i>
        <input type="text">
    </div>
    <div class="pedidosContainer" *ngFor="let pedido of pedidos">

        <div class="pedidoBox" routerLink="/pages/ver-pedido/{{pedido.id}}">
            <div class="pedidoClient"><h3>{{pedido.clientePedido}}</h3></div>
            <div class="pedidoId"><h2>{{pedido.id}}</h2></div>
            <div class="pedidoVendedor">{{pedido.vendedorPedido}}</div>
            <div class="pedidoValor">{{pedido.valorPedido}}R$</div>
        </div>

    </div>
</div>