<!--<nav class="menu">
  <ul class="listMenu">
    <li class="itemMenu" routerLink="">Home</li>
    <li class="itemMenu" routerLink="pedidos">Pedidos</li>
    <li class="itemMenu">
      <label for="checkBoxProdutos">Produtos</label>
      <input type="radio" id="checkBoxProdutos" name="checkBoxMenu">
      <ul class="subMenu">
        <li class="itemMenu" routerLink="listar-produtos">Produtos</li>
        <li class="itemMenu" routerLink="cadastrar-produtos">
          Cadastrar Produtos
        </li>
      </ul>
    </li>
    <li class="itemMenu" routerLink="estoque">Estoque</li>
    <li class="itemMenu">
      <label for="checkBoxClientes">Clientes</label>
      <input type="radio" id="checkBoxClientes" name="checkBoxMenu">
      <ul class="subMenu">
        <li class="itemMenu" routerLink="listar-clientes">Clientes</li>
        <li class="itemMenu" routerLink="cadastrar-cliente">
          Cadastrar Clientes
        </li>
      </ul>
    </li>
    <li class="itemMenu"></li>
  </ul>
</nav> -->

<div class="sidebar">
  <div class="logo-details">
    <i class='bx bxl-c-plus-plus icon'></i>
      <i class='bx bx-menu' id="btn" ></i>
  </div>
  <ul class="nav-list">
    <li>
      <a href="#">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name"  routerLink="">HOME</span>
      </a>
       <span class="tooltip">HOME</span>
    </li>

    <li >
      <a href="#"  routerLink="pedidos">
        <i class='bx bx-store-alt' ></i>
        <span class="links_name">Pedidos</span>
      </a>
      <span class="tooltip">Pedidos</span>
    </li>

    <li>
     <a href="#"  routerLink="listar-clientes">
       <i class='bx bx-user' ></i>
       <span class="links_name">Clientes</span>
     </a>
     <span class="tooltip">Clientes</span>
   </li>
   <li>
     <a href="#" routerLink="estoque">
      <i class='bx bx-package' ></i>
       <span class="links_name">Estoque</span>
     </a>
     <span class="tooltip">Estoque</span>
   </li>
   <li>
     <a href="#" routerLink="listar-produtos">
      <i class='bx bx-cart-alt' ></i>
       <span class="links_name">Produtos</span>
     </a>
     <span class="tooltip">Produtos</span>
   </li>
   <li>
    <a href="#" routerLink="relatorios/relatorio-pedidos">
      <i class='bx bx-pie-chart-alt-2' ></i>
      <span class="links_name">Relatórios</span>
    </a>
    <span class="tooltip">Relatórios</span>
  </li>
   <li class="profile">
       <i class='bx bx-log-out' id="log_out" ></i>
   </li>
  </ul>
</div>
<section class="home-section">
  <router-outlet></router-outlet>
</section>
