<ul class="list-menu">
  <li routerLink="">
    Home
  </li>
  <label for="drop" class="item-product">
    Produtos
  </label>
  <input type="checkbox" id="drop">
  <ul class="drop-menu-produtos">
    <li class="itemList" routerLink="listar-produtos">
      Produtos
    </li>
    <li class="itemList" routerLink="cadastrar-produtos">
      Cadastrar Produtos
    </li>
  </ul>
  <li routerLink="estoque">
    Estoque
  </li>
  <label for="dropClient">
    Clientes
  </label>
  <input type="checkbox" id="dropClient">
  <ul class="drop-menu-clientes">
    <li class="itemList" routerLink="listar-clientes">
      Clientes
    </li>
    <li class="itemList" routerLink="cadastrar-cliente">
      Cadastrar Cliente
    </li>
  </ul>
  <li>
    By: Otávio Afonso :)
  </li>
</ul>
