<section class="acess">
  
  <div class="containerAcess">
    <div class="boxLogin">
      
      <form action="" class="formLogin" autocomplete="off">
        <h1 class="titleLogin">Login</h1>
        <div class="inputBox">
          <input
          type="text"
          name="email"
          required="required"
          #usuarioLogin
          >
          <label for="">E-mail</label>
        </div>

        <div class="inputBox">
          <input
          type="text"
          required="required"
          #senhaLogin
          >
          <label for="">Senha</label>
        </div>

        <button class="btnLogin" (click)="efetuarLogin(usuarioLogin.value, senhaLogin.value )">Acessar</button>
        <label for="maskLado" class="subMudarLado">Não possui cadastro? Clique aqui</label>
      </form>
      
    </div>


    <div class="boxRegister">

      <form action="" class="formLogin" autocomplete="off">
        <h1 class="titleLogin">Registrar-se</h1>
        <div class="inputBox">
          <input
          type="text"
          name="password"
          required="required"
          #nomeRegistro>
          <label for="">Nome Completo</label>
        </div>
        <div class="inputBox">
          <input
          type="text"
          name="email"
          required="required"
          #emailRegistro
          >
          <label for="">E-mail</label>
        </div>

        <div class="inputBox">
          <input
          type="password"
          name="password"
          required="required"
          #senhaRegistro
          >
          <label for="">Senha</label>
        </div>

        <div class="inputBox">
          <input
          type="password"
          name="password"
          required="required"
          #senhaRegistroConfirm
          >
          <label for="">Repetir Senha</label>
        </div>

        <button class="btnLogin"
        id="btnRegister"
          (click)="efetuarRegistro(nomeRegistro.value, emailRegistro.value, senhaRegistro.value)">
          Registrar-se
        </button>
        <p class="sucessRegister lblRegister" *ngIf="sucessView">{{ sucessMessage }}</p>
        <p class="errorRegister lblRegister" *ngIf="errorView">{{ sucessMessage }}</p>
        <label for="maskLado" class="subMudarLado">Já possui cadastro? Clique aqui</label>
      </form>
    </div>
    <input type="checkbox" id="maskLado">
    <div class="maskAcess">
      
    </div>
  </div>
</section>