<div class="popUp" [ngStyle]="{'display':display}" (click)="fecharPopUp()">
    Produto Já informado na Lista!
</div>

<div class="main">
    <form action="POST" autocomplete="off">
      <h2>Novo Pedido</h2>
      <hr>
        <div class="inputBox">
          <input  type="text"
                  id="clientePedido"
                  name="clientePedido"
                  [(ngModel)]="pedido.cliente_name"
                  required="required"
                  list="clienteNome"
            >
          <label>Cliente</label>

          <datalist id="clienteNome">
            <option *ngFor="let nomeCliente of clientes">
              {{nomeCliente.name}}
            </option>
          </datalist>
        </div>

        <div class="inputBox">
            <input type="text"
                id="vendedorPedido"
                name="vendedorPedido"
                [(ngModel)]="pedido.reponsavel_name"
                required="required"
            >
          <label for="">Vendedor</label>
        </div>
        <hr>
        <div class="inputBox">
            <input type="text"
                id="produtoPedido"
                name="nameProduct"
                [(ngModel)]="produto.id"
                list="produtosNome"
            >
          <label for="">Produtos:</label>

            <datalist id="produtosNome">
                <option *ngFor="let nomeProdutos of opcProdutos"  [value]="nomeProdutos.id">
                  {{nomeProdutos.name}} || {{nomeProdutos.price}}$
                </option>
              </datalist>
        </div>

        <div class="inputBox">
            <input type="number"
                min="1"
                id="quantidadePedido"
                name="amount"
                [(ngModel)]="produto.amount"
                required="required"
            >
            <label>Quantidade</label>
        </div>

        <div class="buttons">
            <button (click)="adcProduto()">Adicionar Produto</button>
            <button (click)="savePedido()">Salvar Pedido</button>
            <button routerLink="../pedidos">Cancelar</button>
        </div>

    </form>

    <div class="valorPedido">
        TOTAL: {{pedido.price}}
    </div>

    <table>
        <thead>
            <th>ID</th>
            <th>Nome do Produto</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Ação</th>
          </thead>
          <tbody>
            <tr *ngFor="let produtos of produtos">
              <td>{{produtos.idGuia}}</td>
              <td>{{produtos.name}}</td>
              <td>{{produtos.amount}}</td>
              <td>{{produtos.price}}</td>
              <td>
                <button (click)="deletProduct(produtos)">Apagar</button>
              </td>
            </tr>
          </tbody>
    </table>
</div>
