form
{
    padding: 1rem;
}

button
{
  margin-left:1rem;
  border: 1px solid #002333;
  font-size: 1.1rem;
  padding: 0.3rem 1rem;
  background-color:  #FFFFFF;
  cursor: pointer;
  color: #002333;
  border-radius: 0.3rem;
}

.valorPedido
{
  display: inline-block;
  background-color: #002333;
  color: #FFFFFF;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-left: 2rem;
}

/* Tira o espaçamento entre as células.*/
table
{
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  text-align: left;
}

thead
{
  background-color: #002333;
  color: white;
}

th, td
{
  border: 1px solid  #B4BEC9;
  padding: 0.7rem 1rem;
}

td button
{
  width: 100%;
  padding: 0.3rem 1rem;
  cursor: pointer;
  border: none;
}

tr:nth-child(odd)
{
	background:  #B4BEC9;
}

tr:hover{
  background-color: #159A9C;
}

.testList
{
  border: 1px solid red;
}

/*MODAL*/

.popUp
{
  position: absolute;
  top: -0.1%;
  top: 2rem;
  left: 50%;
  background-color: #FA6060;
  color: #fff;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: 0.5s;
}

.popUp:hover
{
  transform: scale(1.1);
}

/* INPUTs */

.inputBox
{
  display: inline-block;
  position: relative;
  width: 15rem;
  height: 2.5rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.inputBox label
{
  color: #002333;
  width: 100%;
  display: inline-block;
  transition: 0.4s;
}

.inputBox input
{
  display: block;
  width: 100%;
  border:none;
  border-bottom: #002333 1px solid;
  font-size: 1.1rem;
  padding-left: 0.4rem;
  outline: none;
  transition: 0.5s;
  margin-top: 0.5rem;
  position: absolute;
  background-color: transparent;
  font-size: 1rem;
}

.inputBox input:valid ~ label,
.inputBox input:focus ~ label
{
  color:  #159A9C;
  transform: translateY(-1.3rem);
  font-size: 0.8rem;
}

.inputBox input:valid,
.inputBox input:focus
{
  border-bottom: 1px solid  #159A9C;
}
