<div class="container">
    <form action="POST" >
        <div class="inputBox">
            <label for="clientePedido">Cliente</label>
            <input type="text"
                placeholder="Cliente.."
                id="clientePedido"
                name="clientePedido"
                [(ngModel)]="pedido.clientePedido"
            >
        </div>
        
        <div class="inputBox">
            <label for="vendedorPedido">Vendedor responsável:</label>
            <input type="text"
                placeholder="Vendedor.."
                id="vendedorPedido"
                name="vendedorPedido"
                [(ngModel)]="pedido.vendedorPedido"
            >
        </div>
        <div class="inputBox">
            <label for="produtoPedido">Produtos:</label>
            <input type="text" 
                placeholder="Produto.." 
                id="produtoPedido"
                name="nameProduct"
                [(ngModel)]="produto.id"
                list="produtosNome"
            >

            <datalist id="produtosNome">
                <option *ngFor="let nomeProdutos of opcProdutos"  [value]="nomeProdutos.id">
                  {{nomeProdutos.nameProduct}}
                </option>
              </datalist>
        </div>

        <div class="inputBox">
            <label for="quantidadePedido">Quantidade</label>
            <input type="number"
                placeholder="Quantidade.."
                id="quantidadePedido"
                name="amount"
                [(ngModel)]="produto.amount"
            >
        </div>

        <div class="inputBox">
            <button (click)="adcProduto()">Adicionar Produto</button>
            <button (click)="adcPedido()">Salvar Pedido</button>
        </div>

    </form>

    <table>
        <thead>
            <th>ID</th>
            <th>Nome do Produto</th>
            <th>Quantidade</th>
            <th>Ação</th>
          </thead>
          <tbody>
            <tr *ngFor="let produtos of produtos">
              <td>{{produtos.id}}</td>
              <td>{{produtos.nameProduct}}</td>
              <td>{{produtos.amount}}</td>
              <td>
                <button (click)="deletProduct(produtos)">Apagar</button>
              </td>
            </tr>
          </tbody>
    </table>
</div>