<div class="main">
    <div class="idPedido"># <span>{{pedido.id}}</span></div>
    <div class="inputBox">
        <label for="">Cliente</label><br>
        <input type="text" [(ngModel)]="pedido.clientePedido" readonly>
    </div>
    <div class="inputBox">
        <label for="">Vendedor</label><br>
        <input type="text" [(ngModel)]="pedido.vendedorPedido" readonly>
    </div>

    <table>
        <thead>
            <th>ID</th>
            <th>Nome do Produto</th>
            <th>Quantidade</th>
            <th>Preço</th>
          </thead>
          <tbody>
            <tr *ngFor="let produto of pedido.produtosPedido">
              <td>{{produto.id}}</td>
              <td>{{produto.nomeProduto}}</td>
              <td>{{produto.quantidadeProduto}}</td>
              <td>{{produto.precoProduto}}</td>
            </tr>
          </tbody>
    </table>

    <button routerLink="/pedidos">Voltar</button>

    <div class="valorPedido">
      Total: {{pedido.valorPedido}}
    </div>
</div>
