.content
{
  background-color:  #FFFFFF;
  border-radius: 20px;
  border: 1px solid #002333;
  position: relative;
  padding: 2rem;
  margin: auto;
  position: relative;
}

.idPedido
{
    position: absolute;
    right: 1rem;
    padding: 0.2rem 0.5rem;
    min-width: 3rem;
    top: -1.5rem;
    background-color: #002333;
    color: #FFFFFF;
    text-align: center;
    border-radius: 0.5rem;
}

.idPedido span
{
    font-size: 2rem;
}

.inputBox
{
    display: inline-block;
    width: 45%;
    min-width: 23rem;
}

input[type="text"]
{
    border:none;
    border-bottom: 1px solid #002333;
    width: 20rem;
    outline: none;
    padding-left: 0.6rem;
}

/* Tira o espaçamento entre as células.*/
table
{
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  text-align: left;
}

thead
{
  background-color: #002333;
  color: white;
}

th, td
{
  border: 1px solid  #B4BEC9;
  padding: 0.7rem 1rem;
}

td button
{
  width: 100%;
  padding: 0.3rem 1rem;
  cursor: pointer;
  border: none;
}

tr:nth-child(odd)
{
	background:  #B4BEC9;
}

tr:hover{
  background-color: #159A9C;
}

button
{
  margin-left:1rem;
  border: 1px solid #002333;
  font-size: 1.1rem;
  padding: 0.3rem 1rem;
  background-color:  #FFFFFF;
  cursor: pointer;
  color: #002333;
  border-radius: 0.3rem;
  margin-top: 2rem;
}
