<div class="main">
    <div class="idPedido"># <span>{{pedido.id}}</span></div>
    <div class="inputBox">
        <label for="">Cliente</label><br>
        <input type="text" [(ngModel)]="pedido.cliente_name" readonly>
    </div>
    <div class="inputBox">
        <label for="">Vendedor</label><br>
        <input type="text" [(ngModel)]="pedido.reponsavel_name" readonly>
    </div>

    <table>
        <thead>
            <th>ID</th>
            <th>Nome do Produto</th>
            <th>Quantidade</th>
            <th>Preço</th>
          </thead>
          <tbody>
            <tr *ngFor="let produto of pedido.product">
              <td>{{produto.idGuia}}</td>
              <td>{{produto.name}}</td>
              <td>{{produto.amount}}</td>
              <td>{{produto.price}}</td>
            </tr>
          </tbody>
    </table>

    <button routerLink="/pedidos">Voltar</button>

    <div class="valorPedido">
      Total: {{pedido.price}}
    </div>
</div>
