<div class="content">
  <h2>Clientes Cadastrados</h2>
  <div class="searchContent">
    <input type="text"
    placeholder="Buscar Clientes.."
    (input)="search($event)">
    <button>Buscar</button>
  </div>
  <table>
    <thead>
      <th>ID</th>
      <th>Nome do Cliente</th>
      <th>Ações</th>
    </thead>
    <tbody *ngFor="let cliente of Client">
      <tr>
        <td>{{cliente.id}}</td>
        <td>{{cliente.nomeCliente}}</td>
        <td>
          <button routerLink="/pages/cliente/{{cliente.id}}">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
