<div class="main">
  <div class="novoProduto" routerLink="../cadastrar-produtos">
    <i class='bx bx-plus' ></i>
    Novo produto
</div>
  <div class="titleContent">
    <h2>Produtos Cadastrados</h2>
    <div class="searchContent">
      <input type="text" placeholder="Buscar Produtos.."
       class="searchProduct"
      (input)="search($event)">
    </div>
  </div>

  <table *ngIf="produtos.length >0; else noProducts">
    <thead>
      <th>ID</th>
      <th>Nome do Produto</th>
      <th>Estoque</th>
      <th>Preço</th>
      <th>Status</th>
      <th>Ações</th>
    </thead>
    <tbody>
        <tr *ngFor="let produto of produtos">
          <td>{{produto.id}}</td>
          <td>{{produto.nomeProduto}}</td>
          <td>{{produto.quantidadeProduto}}</td>
          <td>{{produto.precoProduto}}</td>
          <td>Ativo</td>
          <td>
            <button>Editar</button>
          </td>
        </tr>
    </tbody>
  </table>
  <ng-template #noProducts>
    <h3>Buscando Produtos...</h3>
  </ng-template>
</div>

